<!doctype html>
<html lang="en">
  <head>
     {% load static %}
    {% include 'template/head.html' %}
  </head>
  <body>
    
   {% include 'template/topmenu.html' %}
    <!-- END header -->

    <section class="site-hero site-hero-innerpage overlay"style="background-image: url({% static 'my/a.jpg' %});">
      <div class="container">
        <div class="row align-items-center site-hero-inner justify-content-center">
          <div class="col-md-8 text-center">

            <div class="mb-5 element-animate">
              <h1>About Us</h1>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END section -->


    <section class="site-section bg-light">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center">
            
          </div>
        </div>
        <div class="row mb-5 align-items-center">
          
          <div class="col-md-6 overflow order-1">
            <img src="{% static 'my/11.jpg' %}" alt="" class="img-fluid">
          </div>
          <div class="col-md-1 order-2"></div>
          <div class="col-md-5 order-3">
            <h2 class="mb-4">About Us</h2>
            <p style="text-align: justify;">
The L.R Group of Institutes was founded in January 2004 with the start of L.R Group of Legal Studies. Since then L R group has been growing by leaps and bounds and has introduced many courses like B.Pharm., M.Pharm., B.Tech., M.Tech., Diploma in Engineering, BBA, MBA, BCA, MCA, B.Ed. All the courses are approved by their respective regulatory bodies and are affiliated to HPU, HPTU or HP Takniki Shiksha Board. L R Group is a pioneer in Himachal Pradesh in providing quality, career oriented education in the field of engineering, pharmacy, management, computer applications education and legal studies.</p>
          </div>

        </div>

        <div class="row align-items-center">
          
          <div class="col-md-6 overflow order-3">
            <img src="{% static 'my/12.jpg' %}" alt="" class="img-fluid">
          </div>
          <div class="col-md-1 order-2"></div>
          <div class="col-md-5 order-1">
            <h2 class="mb-4">Our Objectives</h2>
            <p style="text-align: justify;">At L.R. Group of institutes, we strive to contribute to the nation and the world through excellence in various educational fields and to serve as valuable resources to society and industries. We endeavor to develop human potential to its fullest so that intellectually capable and imaginatively gifted leaders can emerge in various professions. Here students are provided with intensive as well as extensive knowledge of the subject. Minds are trained and tuned to analytical and innovative approaches in global technologies, coupled with total personality ethos & sanskars together with the uncompromising respect for elders and unshaken faith in God, making each person a good human being.</p>
          </div>

        </div>

      </div>
    </section>
    <!-- END section -->

    
        


      </div>
    </section>
    <!-- END section -->

    


    
  
    {% include 'template/footer.html' %}