<header role="banner">
     <style type="text/css">
       .nav-link:hover{
        background: black;
        box-shadow: 2px 2px 5px white;
       }
     </style>
      <nav class="navbar navbar-expand-md navbar-dark bg-light">
        <div class="container">
         <div class="collapse navbar-collapse navbar-light" id="navbarsExample05" style="background: rgba(0,0,0,0.5);">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="nav-link active" href="/admin1/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/addresult/">ADD RESULT </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/addevent/">ADD EVENTS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/addnotice/">ADD NOTICES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/addgall/">ADD GALLERY</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/showuser/">SHOW STUDENTS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/showmessage/">SHOW MESSAGES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/showresult/">SHOW RESULTS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/showgall/">SHOW GALLERY</a>
              </li>



            </ul>
            
          </div>
        </div>
      </nav>
    </header>