<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    {% include 'template/head.html' %}
  </head> 
  <body>
    {% include 'template/topmenu.html' %}
    <!-- END header -->

    <section class="site-hero overlay" data-stellar-background-ratio="0.5" 
    style="background-image: url({% static 'my/2.jpg' %});">
      <div class="container">
        <div class="row align-items-center site-hero-inner justify-content-center">
          <div class="col-md-8 text-center">

            <div class="mb-5 element-animate">
              <h1>LR Group of Institutions</h1>
              
              <p><a href="/about/" class="btn btn-primary">More Details</a></p>
            </div>

            
          </div>
        </div>
      </div>
    </section>
    <!-- END section -->

    <section class="school-features d-flex" style="background-image: url({% static 'images/big_image_3.jpg' %});">

      <div class="inner">
        <div class="media d-block feature">
          <div class="icon"><span class="flaticon-video-call"></span></div>
          <div class="media-body">
            <h3 class="mt-0">JOIN LR GROUP</h3>
            <p style="text-align: justify;">Approved by All India Council for Technical Education, National Council for Teacher Education and Bar Council of India.
Affiliated to Himachal Pradesh University, Himachal Pradesh Technical University and Himachal Pradesh Takniki Shiksha Board.
Biggest multi-faculty affiliated institute in the state of Himachal Pradesh.
Successfully running M.Tech., B.Tech., Polytechnic, MBA, MCA, M. Pharma, B. Pharma, BBA, BCA, BA LLB, B.Ed. Also starting B.Sc Nursing, Hotel Management from next session.</p>
          </div>
        </div>

        <div class="media d-block feature">
          <div class="icon"><span class="flaticon-student"></span></div>
          <div class="media-body">
            <h3 class="mt-0">DIRECTOR GENERAL'S MESSAGE</h3>
            <p style="text-align: justify;">The L.R. Group of Institutes has always been committed to providing its students with the finest education and a supportive learning environment. Additionally, the institute recognizes that our students must be well-prepared to be valuable members of a rapidly changing society where it desires responsible and participative citizens. In light of these demands, the institute must be continuously improving academically and administratively. .</p>
          </div>
        </div>

        <div class="media d-block feature">
          <div class="icon"><span class="flaticon-video-player-1"></span></div>
          <div class="media-body">
            <h3 class="mt-0">GENESIS</h3>
            <p style="text-align: justify;">GENESIS
L.R. Group of Institutes has started its journey in 2004. The L R Institute of Pharmacy was established in 2006 and is approved by the AICTE New Delhi, and is affiliated to Himachal Pradesh University, Shimla. The department aims at development of technical, theoretical as well as analytical skills among the students through regular teaching and practical training. The department has appropriate infrastructure for housing the computing environment.</p>
          </div>
        </div>


        <div class="media d-block feature">
          <div class="icon"><span class="flaticon-audiobook"></span></div>
          <div class="media-body">
            <h3 class="mt-0">Saftey</h3>
            <p>fire extinguishers, exhaust fan, underground water storage tank, water storage tank for portable water, water cooler and aqua guard, wide stairs and galleries with railing to preach physical hazards, first aid facility.</p>
          </div>
        </div>
      </div>
    </section>
    <!-- END section -->


    <!-- END section -->


    <!-- END section -->


    <section class="site-section bg-light">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center">
            <h2>Top Courses</h2>
            
          </div>
        </div>
        <div class="row top-course">
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="#" class="course">
              <img src="{% static 'images/webdesign.jpg' %}" alt="Image placeholder">
              <h2>Web Design 101</h2>
              <p>Enroll Now</p>
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="#" class="course">
              <img src="{% static 'images/wordpress.jpg' %}" alt="Image placeholder">
              <h2>Learn How To Develop WordPress Plugin</h2>
              <p>Enroll Now</p>
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="#" class="course">
              <img src="{% static 'images/javascript.jpg' %}" alt="Image placeholder">
              <h2>JavaScript 101</h2>
              <p>Enroll Now</p>
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="#" class="course">
              <img src="{% static 'images/photoshop.jpg' %}" alt="Image placeholder">
              <h2>Photoshop Design 101</h2>
              <p>Enroll Now</p>
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="#" class="course">
              <img src="{% static 'images/reactjs.jpg' %}" alt="Image placeholder">
              <h2>Learn Native ReactJS</h2>
              <p>Enroll Now</p>
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="#" class="course">
              <img src="{% static 'images/angularjs.jpg' %}" alt="Image placeholder">
              <h2>Learn AngularJS 2</h2>
              <p>Enroll Now</p>
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- END section -->

    <!-- END section -->
  
   {% include 'template/footer.html' %}
