<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    {% include 'template/head.html' %}
  </head>
  <body>
    
    {% include 'template/adminmenu.html' %}
 <section class="site-hero site-hero-innerpage overlay" style="background-image: url({% static 'my/notice.jpg' %}); min-height: 300px !important;">
      <div class="container">
        <div class="row align-items-center site-hero-inner justify-content-center" style="min-height: 300px !important;">
          <div class="col-md-8 text-center">
            <h1>Send feedback</h1>
            
          </div>
        </div>
      </div>
    </section>
     
 <form action="/reply/" method="post" enctype="multipart/form-data">
  {% csrf_token %}
    <section class="site-section bg-light">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12 box">
                  <div class="row">
                    <div class="col-md-12 form-group">
                      <input type="hidden" id="name" class="form-control" name="t1" required="required"  value="{{ alldata }}">

                    </div>
                  </div>
                  
                  

                  <div class="row mb-5">
                    <div class="col-md-12 form-group">
                      <label for="name">Reply</label>
                      <textarea name="t2" required="required"  class="form-control"></textarea>
                    </div>
                  </div>
  
                  
<div class="row">
                    <div class="col-md-6 form-group">
                      <input type="submit" value="Send" class="btn btn-primary">
                    </div>
                  </div>

          </div>
        </div>
      </div>
    </section>
                </form>
    <!-- END section -->

     {% include 'template/adminfooter.html' %}